<template>
  <div class="page-wrapper project-two image-version">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="page-img"></div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-8 offset-lg-2 custom">
              <div class="page-content text-center">
                <div class="logo">
                  <a href="#">
                    <img src="~/assets/images/logo.png" alt="Logo" />
                  </a>
                </div>
                <div class="coming-soon-title">
                  <h3>Coming Soon</h3>
                </div>
                <div class="title">
                  <h1>
                    Nice to <br />
                    Meet you
                  </h1>
                  <p>
                    We are preparing something amazing and exciting for you.
                    <br />
                    Special surprise for our subscribers
                  </p>
                </div>
                <div class="subs-form">
                  <form action="#">
                    <input type="email" placeholder="Enter Your Email" />
                    <button type="submit">
                      <i class="bi bi-arrow-right"></i>
                    </button>
                  </form>
                </div>
                <div class="social-icon">
                  <ul>
                    <li class="title">Follow us :</li>
                    <li>
                      <a href=""><i class="bi bi-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="days-count">
      <div class="count-content" id="dayscountdown" data-countdown="2021/8/1">
        <!-- <h2>10</h2> -->
        <span>31/7/2021</span><br />
        <span>Days to Launch</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.page-wrapper.project-two {
  position: relative;
}
.page-wrapper.project-two .page-img {
  height: 100%;
  background-image: url("~assets/images/coming-soon/coming-soon-1.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-color: #fff2ef;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  overflow: hidden;
}
.page-wrapper.project-two .page-content {
  padding-top: 70px;
  padding-bottom: 30px;
  min-height: 100vh;
  padding-right: 0px;
}
.page-wrapper.project-two .page-content .coming-soon-title {
  position: relative;
  margin-top: 10vh;
  margin-bottom: 5vh;
}
.page-wrapper.project-two .page-content .coming-soon-title::before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
  height: 3px;
  background-color: #04050a;
  content: "";
}
.page-wrapper.project-two .page-content .coming-soon-title h3 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  display: inline-block;
  background: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
}
.page-wrapper.project-two .page-content .title h1 {
  font-size: 120px;
  font-weight: 900;
  color: #181818;
  line-height: 1;
  margin-bottom: 35px;
}
.page-wrapper.project-two .page-content .title p {
  font-size: 17px;
  font-weight: 500;
  color: #000000;
  line-height: 2;
}
.page-wrapper.project-two .page-content .subs-form {
  margin-top: 11vh;
}
.page-wrapper.project-two .page-content .subs-form form {
  width: 100%;
  position: relative;
}
.page-wrapper.project-two .page-content .subs-form form input,
.page-wrapper.project-two .page-content .subs-form form ::placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.page-wrapper.project-two .page-content .subs-form form input,
.page-wrapper.project-two
  .page-content
  .subs-form
  form
  ::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.page-wrapper.project-two .page-content .subs-form form input {
  width: 100%;
  height: 66px;
  background-color: #f8f8f8;
  border: none;
  padding-left: 30px;
  padding-right: 70px;
}
.page-wrapper.project-two .page-content .subs-form form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 70px;
  background-color: #000000;
  color: #ffffff;
  z-index: 2;
  font-size: 20px;
  border: none;
}
.page-wrapper.project-two .page-content .social-icon {
  margin-top: 30px;
}
ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.page-wrapper.project-two .page-content .social-icon ul li.title {
  color: #000000;
  font-weight: bold;
  margin-right: 20px;
}

.page-wrapper.project-two .page-content .social-icon ul li {
  display: inline-block;
  margin-right: 6px;
}
.page-wrapper.project-two .page-content .social-icon ul li a {
  height: 35px;
  width: 35px;
  line-height: 35px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: block;
  text-align: center;
  font-size: 12px;
}
.page-wrapper.project-two .days-count {
  position: absolute;
  top: 210px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: #04050a;
  height: 225px;
  width: 225px;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page-wrapper.project-two .days-count .count-content {
  text-align: center;
}
.page-wrapper.project-two .days-count .count-content h2 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 900;
}
.page-wrapper.project-two .days-count .count-content span {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
}
i,
span,
a {
  display: inline-block;
}
.page-wrapper.project-two .days-count .count-content {
  text-align: center;
}

@media (max-width: 767px) {
  .page-wrapper.project-two .page-img {
    height: 300px;
  }
  .page-wrapper.project-two .page-content {
    padding-top: 120px;
  }
  .page-wrapper.project-two .page-content .logo {
    margin-top: 50px;
  }
  .page-wrapper.project-two .page-content .coming-soon-title {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .page-wrapper.project-two .page-content .title h1 {
    font-size: 50px;
  }
  .page-wrapper.project-two .page-content .title p {
    font-size: 16px;
  }
  .page-wrapper.project-two .page-content .social-icon {
    margin-top: 50px;
  }
  .page-wrapper.project-two .page-content .social-icon ul li.title {
    display: block;
  }
}
</style>