<template>
  <div>
    <Header />
    <Nuxt />
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/include/header.vue";
import Footer from "@/components/include/footer.vue";

export default {
  components: {
    Header,
    Footer,
  },
};
</script>

<style>
</style>